[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pynamodb = "*"
flask-login = "*"
flask-script = "*"
zappa = "*"
awscli = "*"

[requires]
python_version = "3.5"
